<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/users/signup">Signup</a>
      <a href="/users/login">Login</a>
      <a href="/users/logout">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>
